/**
 * Front End Columns
**/
.h2bpb-row:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
.h2bpb-col-1 .row-content{
	width: 100%;
}
.h2bpb-col-2 .row-content-1{
	width: 48%;
	float: left;
}
.h2bpb-col-2 .row-content-2{
	width: 48%;
	float: right;
}


.floatingHeader {
    position: fixed;
    top: 0;
    visibility: hidden;
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
}

.row-content-title{
	background: lightgrey;
	padding: 10px;
	font-size: 20px;
	margin: 0 0 20px 0;
	font-weight: 400;
}
.method-row-content-order{
	font-size: 20px;
}
.row-content-image{
	margin-top: -20px;
}
.opt-block{
	float: left;
	text-transform: capitalize;
	width: 65px;
	height: 55px;
	font-size: 12px;
	line-height: 19px;
	text-align: center;
	margin: -10px 15px -10px -10px;
	background: red;
	padding: 5px 0;
}
.floatingHeader .opt-block{
	float: left;
	text-transform: capitalize;
	width: 65px;
	height: 45px;
	font-size: 12px;
	line-height: 19px;
	text-align: center;
	margin: -10px 15px -10px -10px;
	background: red;
	padding: 5px 0;
}
.method-opt-label{
    display: block;
	display: inherit;
}